body {
    background-color: #222;
    font-family: sans-serif;
  }
  #twelve-hour-clock {
    font-size: 10em;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 300;
    color: #b84616;
    margin: 100px auto;
    margin-top: -4px;
  }

  .clock{
    font-size: 2em;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 300;
    color: #81391a;
   
  }

  #twentyFourHourClock{
    font-size: 10em;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 300;
    color: #b84616;
    margin: 100px auto;
    margin-top: -4px;
  }